:root {
    --main-color: #5DC1B9;
    --secondary-color: #ffc5d3;
    --main-text-color: black;
    --secondary-text-color: rgb(43, 38, 38);
    --main-font: serif, Monospace, Georgia;
    --secondary-font: "Cambria", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--secondary-font);
    color: var(--main-text-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--main-font);
    color: var(--main-text-color);
}

nav, p, section, article {
    margin: 1rem;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    margin-left: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--main-color);
    opacity: 0.7;
    color: black;
}

article {
    position: absolute;
    padding: 10px;
    background-color: var(--secondary-color);
    text-align: left;
    top: 150px;
    opacity: .9;
    color: var(--secondary-text-color);
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
    margin: 1rem;
    margin-top: 25px;
}

.information h1 {
    position: static;
    text-align: center;
    padding: 10px;
    opacity: .9;
}

h2 {
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
    opacity: .9;
}

h3 {
    text-align: center;
}

section p {
    color: var(--main-text-color);
}

.socialmedia img {
    width: 30px;
    height: auto;
}

footer {
    border-top: 1px dotted black;
    display: flex;
    align-items: center;
    justify-content: right;
}

footer p {
    margin-right: 60px;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.478);
    margin-bottom: 10px;
}

header img {
    justify-self: right;
    width: 150px;
    height: auto;
    margin: 5px;
}

nav {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
}

ul li a {
    border: 1px solid black;
    padding: 9px 20px;
    background-color: rgba(255, 255, 255, 0.558);
    text-decoration: none;
    color: #0000ee;
}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
}

.sub-title {
    grid-column: 1/4;
}

.history img {
    width: 200px;
    height: auto;
    
}

section, section p {
    margin: 5px 0 0 0;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr;
    align-items: center;
}

.adventure h2 {
    grid-column: 1/6;
}

figure img {
    width: auto;
    height: 100px;
    margin: 5px;
    display: flex;
}

figure {
    text-align: center;
    justify-items: center;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr;
    align-items: center;
}

.employees h2 {
    grid-column: 1/4;
}

.form {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    height: 400px;
}

iframe {
    width: 400px;
    height: 400px;
}

form {
    width: auto;
    height: 400px;
    margin: 0 60px 0 20px;
    display: grid;
}

.column1 {
    display: grid;
    grid-template-columns: 1fr 20px 150px 1fr;
    align-items: center;
}

.column1 label {
    text-align: left;
    grid-column: 1/2;
}

.column1 input {
    grid-column: 2/5;
    padding: .5rem;
    border-radius: .3rem;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

.message {
    display: grid;
    grid-template-columns: 1fr 20px 150px 1fr;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message p {
    text-align: left;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
    align-items: center;
}

.message label {
    text-align: left;
    grid-column: 3/4;
}

.message input {
    grid-column: 2/3;
}

textarea {
    margin: 0;
    border-radius: .3rem;
    resize: none;
    height: 70px;
    padding: .3rem;
}

.checkbox {
    display: grid;
    grid-template-columns: 23px 3fr;
    margin-top: 10px;
    align-items: center;
}

.checkbox input {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    grid-column: 1/2;
}

.checkbox label {
    grid-column: 2/4;
    text-align: left;
}

button {
    border-radius: .3rem;
    cursor: pointer;
}

.form div {
    margin: 0;
}