* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color: darkblue;
  --text-color: white;
  --text-align: center;
}

nav {
  background-color: var(--background-color);
  padding: 10px;
}

nav a {
  color: var(--text-color);
  display: block;
  padding: 20px;
}

h1 {
  color: var(--background-color);
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

main {
  max-width: 600px;
  padding: 10px;
}

main p {
  margin: 5px;
}

aside {
  width: 280px;
  text-align: var(--text-align);
  position: relative;
}

aside h2 {
  position: absolute;
  top: 30px;
  left: 105px;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 30px;
  border-top: 1px solid black;
  text-align: var(--text-align);
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(26, 24, 24);
  padding: 1rem;
  background-color: lightcoral;
  color: black;
}